.container {
	display: flex;
	justify-content: center;
	text-align: start;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 65dvw;
}

.container h1 {
	padding: 1rem 1rem 1rem 0rem;
}

.imgContainer {
	display: flex;
	gap: 2rem;
}

.bottomBanner {
	height: 320px;
	overflow: hidden;
}
