.container {
	margin: 2rem 0rem 2rem 0rem;
	display: flex;
	justify-content: center;
	text-align: start;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	max-width: 65dvw;
}

.container h1 {
	padding: 1rem 1rem 1rem 0rem;
}

.imgContainer {
	display: flex;
	gap: 1rem;
}

.bottomBanner {
	position: relative;
	max-height: 320px;
	overflow: hidden;
}
.imgsInContainer {
	position: relative;
}
.imgText {
	position: absolute;
	width: 100%;
	padding: 1rem;
	bottom: 0;

	background: linear-gradient(
		360deg,
		rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.25),
		rgba(255, 255, 255, 0)
	);
}

.imgText > * {
	color: white;
}

.imgText h2 {
	font-size: 1rem;
}

@media only screen and (max-width: 600px) {
	.container {
		margin: 0;
	}
	.content {
		max-width: 100%;
	}

	.imgContainer {
		flex-direction: column;
	}
}
