.sliderContainer {
	display: flex;
	align-items: center;
	position: relative;
	max-width: 100dvw;
	max-height: 65dvh;
	overflow: hidden;
}

.imageContainer {
	display: flex;
	transition: translate 0.75s ease-out;
}

.imageContainer img {
	object-fit: fill;
}

.navBtn:hover {
	opacity: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	transition: 0.3s;
}

.navBtn {
	opacity: 20%;
	border: none;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	cursor: pointer;
	transition: 0.3s;
	padding: 0.5rem;
	background-color: rgba(0, 0, 0, 0);
}

.navCircles {
	position: absolute;
	left: 50%;
	translate: -50%;
	bottom: 0;
}

.navCircles > * {
	cursor: pointer;
	background-color: transparent;
	border: none;
	width: 1.2rem;
}

.navCircles > * > * {
	stroke-width: 2;
	stroke: rgb(219, 219, 219);
}
