.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	display: flex;
	max-width: 65dvw;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
	width: 90dvw;
	padding-bottom: 2rem;
}
.itemInfo {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}
.item {
	display: flex;
	align-items: center;
	width: 100%;
	height: 200px;
	background-color: #f0f0f0;
	padding: 1rem 3rem 1rem 1rem;
	gap: 2rem;
}

.removeItem {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0;
	background-color: #f0f0f000;
	border: none;
	cursor: pointer;
}
.removeItem * {
	font-size: 1.75rem;
}

.removeItem:hover {
	scale: 1.2;
	transition: 0.2s;
}

.imgContainer {
	display: flex;
	justify-content: center;
	max-width: 150px;
	height: 100%;
}

.quantInput {
	max-width: 36px;
	text-align: center;
	border: gray solid 1px;
	border-left: 0px;
	border-right: 0px;
}

.quantInput::-webkit-inner-spin-button,
.quantInput::-webkit-outer-spin-button {
	appearance: none;
	margin: 0;
}
.addBtn,
.minusBtn {
	border: solid gray 1px;
	cursor: pointer;
}
.addBtn {
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	margin-right: 10px;
}

.minusBtn {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
.img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
	mix-blend-mode: multiply;
}

@media only screen and (max-width: 600px) {
	.imgContainer {
		width: 100px;
		flex-shrink: 0;
	}
	.itemInfo {
		font-size: 0.75rem;
	}

	.content {
		width: 100dvw;
		max-width: 100dvw;
	}

	.itemInfo > div:nth-of-type(1) {
		width: 100px;
	}
}
