.topBar {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 1rem;
}

.logo {
	height: 30px;
	width: auto;
}

.menu {
	visibility: hidden;
}

.searchContainer {
	display: flex;
	position: relative;
	align-items: center;
	gap: 2rem;
	width: 700px;
}
.search {
	flex: 1;
	width: 100px;
	border-radius: 20px;
	padding: 0.5rem 0 0.5rem 1rem;
	background-color: rgb(245, 245, 245);
	border: grey solid 1px;
}

.search:focus,
.search:hover {
	background-color: white;
}
.button {
	position: absolute;
	display: flex;
	right: 1px;
	background-color: rgba(202, 32, 32, 0);
	border: none;
	cursor: pointer;
}

.menu {
	composes: button;
	position: static;
	visibility: hidden;
}

.checkoutButton {
	composes: button;
	position: static;
	background-color: rgb(48, 122, 116);

	padding: 0.25rem 1.5rem 0.25rem 1.5rem;
	border-radius: 15px;
	color: white;
	font-weight: 600;
}

.checkoutButton:hover {
	background-color: rgb(33, 85, 81);
}

.mobileSearchBtn {
	visibility: hidden;
}

.checkoutContainer {
	display: grid;
	grid-auto-flow: column;
	gap: 1rem;
	align-items: center;
}
.basket {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.count {
	position: absolute;
	top: 10px;
	font-size: 16px;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@media only screen and (max-width: 600px) {
	.search,
	.checkoutButton,
	.searchContainer {
		display: none;
	}

	.logo {
		height: 20px;
	}

	.checkoutContainer {
		gap: 0.25rem;
	}

	.mobileSearchBtn,
	.menu {
		visibility: visible;
	}
}
/* 

.searchIcon {
	position: absolute;
	right: 1px;
	margin: 5px;
}
.inputField {
	display: flex;
	align-items: center;
	position: relative;
	width: max-content;
} */
