.nav {
	display: flex;
	justify-content: space-around;
	background-color: black;
}

.navList {
	display: flex;
	gap: 1rem;
	list-style-type: none;
}
.hover {
	text-decoration: none;
	color: white;
	font-weight: 700;
	padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
.hover:hover {
	color: black;
	background-color: white;
	cursor: pointer;
}
