.nav {
	display: flex;
	justify-content: center;
	background-color: black;
	margin: 0;
	padding: 0;
}

.navList {
	display: flex;
	gap: 1rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: white;
}

.hover:hover {
	color: black;
	background-color: white;
	cursor: pointer;
}
