.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container h1 {
	width: 65dvw;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	justify-content: center;
	width: 65dvw;
	gap: 2rem;
	margin: 0rem 2rem 2rem 2rem;
	overflow: hidden;
}
.product {
	--gap: 2rem;
	--line-thickness: 2px;
	--line-colour: #979797;
	--line-offset: calc(var(--gap) / 2);

	position: relative;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	height: 30rem;
	gap: 2rem;
	text-decoration: none;
	border-radius: 5px;
	color: black;
	z-index: 0;
}

.product::after,
.product::before {
	content: "";
	background-color: var(--line-colour);
	position: absolute;
}

.product::after {
	width: 100vw;
	height: var(--line-thickness);
	top: calc(var(--line-offset) * -1);
	left: 0;
}

.product::before {
	width: var(--line-thickness);
	height: 150vh;
	top: 0;
	left: calc(var(--line-offset) * -1);
}
.product img {
	height: 70%;
	width: auto;
	object-fit: contain;
}

.rating {
	display: inline-block;
	margin-right: 4rem;
	width: max-content;
	vertical-align: middle;
}

.favBtn {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	position: absolute;
	margin: 0.5rem;
	right: 0;
	bottom: 0;
}

.favBtn:hover {
	scale: 1.2;
	transition: 0.3s;
}

.product h2 {
	font-size: 0.85rem;
}

.productContainer {
	position: relative;
}

@media only screen and (max-width: 600px) {
	.grid {
		width: 100%;
		margin: 0;
	}

	.container {
		margin: 0.5rem;
	}

	.container h1 {
		width: 95dvw;
	}
}
