.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	margin: 1rem;
	gap: 1rem;
}

.product {
	display: flex;
	flex-direction: column;
	border: black 1px solid;
	border-radius: 5px;
	padding: 1rem;
	height: 35rem;
	text-decoration: none;
	color: black;
}
.rating {
	display: flex;
	align-items: center;
}
.product img {
	height: 60%;
	width: auto;
	object-fit: contain;
}
